button {
  transition: all .2s ease-in-out 0s; }

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(1turn); } }

@keyframes spinner {
  0% {
    transform: rotate(0deg); }
  to {
    transform: rotate(1turn); } }

@-webkit-keyframes opacity {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1.08);
    opacity: 0; }
  25% {
    -webkit-transform: translate(-50%, -50%) scale(1.06);
    opacity: .25; }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.04);
    opacity: .5; }
  75% {
    -webkit-transform: translate(-50%, -50%) scale(1.02);
    opacity: .75; }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1);
    opacity: 1; } }

@keyframes opacity {
  0% {
    transform: translate(-50%, -50%) scale(1.08);
    opacity: 0; }
  25% {
    transform: translate(-50%, -50%) scale(1.06);
    opacity: .25; }
  50% {
    transform: translate(-50%, -50%) scale(1.04);
    opacity: .5; }
  75% {
    transform: translate(-50%, -50%) scale(1.02);
    opacity: .75; }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; } }

/*!
  Gofarm, by ShopThemes
  https://www.shopthemes.net
  Access unminified JS in assets/themes.css
*/
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  font-display: optional; }

body, html {
  text-rendering: optimizeLegibility; }

body {
  line-height: 1.4;
  background: var(--background-color);
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-size: var(--body-fs); }

@media (min-width: 750px) {
  body {
    font-size: var(--body-fs-md); } }

@media (min-width: 1000px) {
  body {
    font-size: var(--body-fs-lg); } }

@media (min-width: 1300px) {
  body {
    font-size: var(--body-fs-xl); } }

body #main-content {
  min-height: 60vh; }

*, :after, :before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

:focus {
  outline: none; }

body, input, select, textarea {
  font-family: var(--body-font);
  font-weight: var(--body-fw);
  color: var(--text-color);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a {
  text-decoration: none;
  color: var(--text-color); }

a:focus {
  outline: none; }

p {
  margin: 20px 0; }

dl, ol, ul {
  margin: 0; }

li, ol, summary, ul {
  list-style: none; }

ul {
  list-style: disc inside none; }

ol, ul {
  padding: 0; }

ol {
  list-style: decimal inside none; }

details > summary::-webkit-details-marker {
  display: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25rem; }

sup {
  top: -.5rem; }

label {
  display: inline-block;
  margin-bottom: 6px; }

button {
  border: none;
  outline: none;
  background: none;
  font-family: var(--body-font); }

button * {
  pointer-events: none; }

button:focus {
  box-shadow: 0 0 0 #fff; }

form {
  display: block;
  margin: 0; }

input, select, textarea {
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input:focus, select:focus, textarea:focus {
  outline: none; }

input, select {
  width: 100%;
  border: 1px solid var(--miscellaneous-color); }

select {
  max-width: 100%; }

input, textarea {
  padding: 5px 15px; }

input:-moz-placeholder, input:-ms-input-placeholder, input::-moz-placeholder, input::-webkit-input-placeholder, textarea:-moz-placeholder, textarea:-ms-input-placeholder, textarea::-moz-placeholder, textarea::-webkit-input-placeholder {
  color: #757575; }

input {
  height: 40px; }

textarea {
  width: 100%;
  height: 158px;
  border: 1px solid var(--miscellaneous-color); }

.pf {
  position: fixed; }

.pr {
  position: relative; }

.pa {
  position: absolute; }

.object-fit--cover {
  -o-object-fit: cover;
  object-fit: cover; }

.object-fit--contain {
  -o-object-fit: contain;
  object-fit: contain; }

.l0 {
  left: 0; }

.r0 {
  right: 0; }

.t0 {
  top: 0; }

.b0 {
  bottom: 0; }

.w100 {
  width: 100%; }

.h100 {
  height: 100%; }

.text-center {
  text-align: center; }

.text-left {
  text-align: start; }

.text-right {
  text-align: end; }

.uppercase {
  text-transform: uppercase; }

.underline {
  text-decoration: underline; }

.overflow-hidden {
  overflow: hidden; }

.image__style, .image__style img {
  border-radius: var(--border-radius); }

.no-js .no-js-hidden {
  display: none !important; }

@keyframes img-opacity {
  0% {
    opacity: 0; }
  30% {
    opacity: .3; }
  to {
    opacity: 1; } }

@-webkit-keyframes img-opacity {
  0% {
    opacity: 0; }
  30% {
    opacity: .3; }
  to {
    opacity: 1; } }

.image__style.lazyloaded, .image__style:not(.lazyloaded) {
  -webkit-animation: img-opacity 1.3s cubic-bezier(0, 0.51, 0.25, 1) 0s forwards;
  animation: img-opacity 1.3s cubic-bezier(0, 0.51, 0.25, 1) 0s forwards; }

.image__style .lazyload {
  opacity: 0; }

.js-slider:not(.tns-slider) {
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100% !important; }

slider-component:not(.slide-initialized) .js-slider.flex {
  flex-wrap: nowrap !important;
  overflow: hidden; }

.align-items-center {
  align-items: center; }

.align-items-stretch {
  align-items: stretch; }

.align-items-start {
  align-items: flex-start; }

.align-items-end {
  align-items: flex-end; }

.justify-content-center {
  justify-content: center; }

.justify-content-between {
  justify-content: space-between; }

.highlight, .highlight-hover:hover {
  color: var(--primary-color); }

.highlight2 {
  color: var(--secondary-color); }

.hide, .mega-tab-content:not(.active) {
  display: none; }

.flex-fill > * {
  flex: 1; }

.c-pointer {
  cursor: pointer; }

.n-select, svg {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.no-event, svg * {
  pointer-events: none; }

.pa-cc {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.pa-lc {
  left: 0;
  top: 50%;
  transform: translateY(-50%); }

.pa-rc {
  left: 100%;
  top: 50%;
  transform: translate(-100%, -50%); }

.m-auto {
  margin: auto; }

.mt-0 {
  margin-top: 0; }

.t100 {
  top: 100%; }

.pt100 {
  padding-top: 100%; }

.inherit-color {
  color: inherit; }

.flipY {
  transform: rotateY(180deg); }

.border {
  border: 1px solid var(--miscellaneous-color); }

.trans02s {
  transition: all .2s ease-in-out; }

.bg-contain, .bg__lazy.object-fit--contain {
  background-size: contain; }

.bg-cover, .bg__lazy.object-fit--cover {
  background-size: cover; }

.bg-no-rp {
  background-repeat: no-repeat; }

.bg-100 {
  background-size: 100%; }

.bg__lazy {
  background-repeat: no-repeat; }

.bg__lazy, .image__style {
  overflow: hidden; }

details[open] summary ~ .slideUp {
  -webkit-animation: sweep .25s ease-in-out;
  animation: sweep .25s ease-in-out; }

@-webkit-keyframes sweep {
  0% {
    opacity: 0;
    transform: translatey(-5px); }
  to {
    opacity: 1;
    transform: translatey(0); } }

@keyframes sweep {
  0% {
    opacity: 0;
    transform: translatey(-5px); }
  to {
    opacity: 1;
    transform: translatey(0); } }

div#mobileNavigation.disabled {
  transform: translateY(100%); }

.countdown .countdown-item:not(:first-child):before {
  content: ":"; }

.countdown:not(.no-label) .countdown-item:after {
  content: attr(data-other); }

.countdown:not(.no-label) .countdown-item[data-count="00"]:after, .countdown:not(.no-label) .countdown-item[data-count="01"]:after {
  content: attr(data-one); }

.cart-notify {
  height: auto;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transform-origin: center;
  width: 35px;
  height: 35px;
  z-index: 999;
  background: var(--primary-color);
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600; }

.limit-1-line {
  -webkit-line-clamp: 1; }

.limit-1-line, .limit-2-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.limit-2-line {
  -webkit-line-clamp: 2; }

.limit-3-line {
  -webkit-line-clamp: 3; }

.limit-3-line, .limit-4-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.limit-4-line {
  -webkit-line-clamp: 4; }

.limit-5-line {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.layout-wide {
  padding: 0 15px; }

@media (min-width: 1300px) {
  .layout-wide {
    padding: 0 50px; } }

.by-stroke path {
  transition: all .2s ease-in-out; }

infinite-loading:not(.loading) svg {
  display: none;
  margin: auto; }

infinite-loading.loading svg {
  display: block;
  margin: auto; }

.icon-loading {
  -webkit-animation: spinner 1.2s linear infinite;
  animation: spinner 1.2s linear infinite; }

.icon-loading path {
  fill: var(--primary-color);
  stroke: none; }

.label-new {
  color: var(--label-new-color);
  background: var(--label-new-bg-color); }

.label-sale {
  color: var(--label-sale-color);
  background: var(--label-sale-bg-color); }

.label-hot {
  color: var(--label-hot-color);
  background: var(--label-hot-bg-color); }

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 5px 20px;
  transition: all .2s ease-in-out 0s; }

.template404 .banner-column {
  margin-top: 70px; }

#cartSidebar .cart-loading, .cart-popup .cart-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -13px;
  -webkit-margin-start: -13px;
  margin-inline-start: -13px;
  display: flex; }

.open-mini-search, .overflow-hidden {
  padding-right: var(--scrollbar-width); }

.open-mini-search {
  overflow-y: hidden; }

.spr-badge .spr-icon, .spr-form .spr-icon {
  width: 13px;
  height: 13px;
  min-width: auto;
  min-height: auto;
  -webkit-margin-end: 3px;
  margin-inline-end: 3px; }

.spr-badge .spr-icon:before, .spr-form .spr-icon:before {
  font-size: inherit;
  width: 13px;
  height: 13px; }

.spr-badge .spr-badge-starrating .spr-icon, .spr-form .spr-badge-starrating .spr-icon {
  font-size: 95%; }

.spr-badge .spr-icon-star:before, .spr-badge .spr-icon.spr-icon-star-empty:before, .spr-form .spr-icon-star:before, .spr-form .spr-icon.spr-icon-star-empty:before {
  opacity: 1; }

.popup-gl .popup-layer {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  transition: all .2s ease-in-out; }

.popup-gl .popup-inner {
  max-width: 92vw;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all .35s ease-in-out;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 9;
  padding: 20px;
  background: var(--background-color);
  border-radius: var(--border-radius);
  transform: translate(-50%, -50%) scale(1.08);
  max-height: 90vh;
  z-index: -5;
  overflow-y: auto; }

.popup-gl.active .popup-inner {
  z-index: 99;
  transform: translate(-50%, -50%) scale(1); }

.popup-gl.active .popup-inner, .popup-gl.active .popup-layer {
  visibility: visible;
  opacity: 1; }

.popup-gl .btn-popup-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 10px;
  display: flex;
  z-index: 1;
  background: var(--primary-color); }

.popup-gl .btn-popup-close path {
  stroke: #fff; }

@media (min-width: 750px) {
  .popup-gl .popup-inner {
    max-width: 500px; } }

.cart-popup-error .popup-title {
  display: flex;
  align-items: center;
  margin-bottom: 15px; }

.cart-popup-error .popup-title svg {
  width: 20px;
  height: 20px;
  -webkit-margin-end: 8px;
  margin-inline-end: 8px; }

.cart-noti-popup.with-recommend.cart-recommend-loaded .popup-inner {
  min-height: 659px; }

@media (min-width: 750px) {
  .cart-noti-popup .popup-inner {
    max-width: 610px; }
  .cart-noti-popup.with-recommend.cart-recommend-loaded .popup-inner {
    min-height: 760px; } }

div.cart-sidebar .cart-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  -webkit-margin-start: -13px;
  margin-inline-start: -13px;
  margin-top: -13px; }

div.cart-sidebar .popup-inner {
  top: 0;
  bottom: 0;
  max-height: none;
  border-radius: 0;
  right: -100%;
  left: auto;
  transform: translate(0);
  transition: all .25s ease-in-out;
  overflow: hidden;
  padding: 0 0 env(safe-area-inset-bottom); }

@media (min-width: 750px) {
  div.cart-sidebar .popup-inner {
    max-width: 460px; } }

div.cart-sidebar .popup-content {
  display: flex;
  flex-direction: column;
  height: 100%; }

div.cart-sidebar cart-items {
  height: 100%;
  overflow-y: auto; }

div.cart-sidebar .cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 15px;
  margin: 0 20px;
  border-bottom: 1px solid var(--miscellaneous-color); }

div.cart-sidebar .cart-header h3 {
  font-size: 24px;
  font-weight: 500; }

div.cart-sidebar .cart-header h3 a {
  transition: all .2s ease-in-out; }

div.cart-sidebar .cart-header h3:hover a {
  color: var(--primary-color);
  text-decoration: underline; }

div.cart-sidebar .cart-header .btn-popup-close {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  background: none;
  padding: 5px 17px;
  border: 1px solid var(--miscellaneous-color);
  height: 36px;
  font-weight: 700;
  font-size: 13px;
  color: var(--text-color); }

div.cart-sidebar .cart-header .btn-popup-close svg {
  width: 10px;
  height: 10px;
  -webkit-margin-end: 13px;
  margin-inline-end: 13px; }

div.cart-sidebar .cart-header .btn-popup-close svg path {
  stroke: var(--text-color); }

div.cart-sidebar.active .popup-inner {
  right: 0;
  transform: translate(0); }

div.cart-popup .cart-header {
  margin-bottom: 20px; }

div.cart-popup .cart-header .totals__subtotal-value {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-color); }

@media (min-width: 750px) {
  div.cart-popup .popup-inner {
    max-width: 740px;
    min-height: 532px; } }

@media (min-width: 750px) {
  .section-static-newsletter-popup .popup-inner {
    max-width: 720px;
    min-width: 720px; } }

.shopify-payment-button {
  width: 100%;
  margin: 0; }

.shopify-payment-button button {
  margin: 0;
  font-size: 0; }

.shopify-payment-button .shopify-payment-button__button[disabled] {
  cursor: not-allowed;
  opacity: .67; }

.shopify-payment-button .shopify-payment-button__button[disabled]:hover {
  color: #fff; }

.shopify-payment-button .shopify-payment-button__button {
  height: 46px;
  font-size: medium;
  font-family: var(--font-heading);
  border-radius: 5px; }

.shopify-payment-button .shopify-payment-button__button--unbranded {
  background: #ffc520; }

.shopify-payment-button .shopify-payment-button__button--unbranded:hover {
  background: #e5be4d !important; }

.shopify-challenge__container {
  padding: 40px 0 60px; }

.shopify-challenge__container .shopify-challenge__button {
  height: 46px;
  border-radius: 5px;
  color: #fff;
  background: var(--primary-color);
  border: 0;
  font-size: 15px; }

.g-recaptcha {
  margin-bottom: 30px; }

.pswp__button--zoom svg {
  width: 20px;
  height: 20px;
  margin-top: 8px; }

.product-price {
  color: var(--text-color); }

.price-sold-out {
  color: var(--old-price-color);
  font-weight: 500; }

.price {
  color: var(--price-color);
  font-weight: 500;
  -webkit-margin-end: 7px;
  margin-inline-end: 7px; }

.price-compare {
  color: var(--old-price-color);
  text-decoration: line-through; }

.sale-price {
  color: var(--price-sale-color); }

.container {
  width: 100%;
  max-width: var(--container);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 1300px) {
  .container {
    padding-right: calc(var(--flex-gap-md)/2);
    padding-left: calc(var(--flex-gap-md)/2); } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 1300px) {
  .container-fluid {
    padding-right: calc(var(--flex-gap-md)/2);
    padding-left: calc(var(--flex-gap-md)/2); } }

.clearfix:after {
  display: block;
  clear: both;
  content: ""; }

.none {
  display: none; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.block {
  display: block; }

.flex {
  display: flex;
  flex-wrap: wrap; }

.inline-flex {
  display: inline-flex; }

.grid {
  display: grid; }

.flex-reverse {
  flex-direction: row-reverse; }

@media (min-width: 750px) {
  .container {
    max-width: var(--container-md); }
  .md-none {
    display: none; }
  .md-inline {
    display: inline; }
  .md-inline-block {
    display: inline-block; }
  .md-block {
    display: block; }
  .md-flex {
    display: flex; }
  .md-inline-flex {
    display: inline-flex; } }

@media (min-width: 1000px) {
  .container {
    max-width: var(--container-lg); }
  .lg-none {
    display: none; }
  .lg-inline {
    display: inline; }
  .lg-inline-block {
    display: inline-block; }
  .lg-block {
    display: block; }
  .lg-flex {
    display: flex; }
  .lg-inline-flex {
    display: inline-flex; } }

@media (min-width: 1300px) {
  .container {
    max-width: var(--container-xl); }
  .xl-none {
    display: none; }
  .xl-inline {
    display: inline; }
  .xl-inline-block {
    display: inline-block; }
  .xl-block {
    display: block; }
  .xl-flex {
    display: flex; }
  .xl-inline-flex {
    display: inline-flex; } }

.flex-1 > * {
  flex: 0 0 100%;
  max-width: 100%; }

.flex-2 > * {
  flex: 0 0 50%;
  max-width: 50%; }

.flex-3 > * {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.flex-4 > * {
  flex: 0 0 25%;
  max-width: 25%; }

.flex-5 > * {
  flex: 0 0 20%;
  max-width: 20%; }

.flex-6 > * {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.flex-7 > * {
  flex: 0 0 14.28571%;
  max-width: 14.28571%; }

.flex-8 > * {
  flex: 0 0 12.5%;
  max-width: 12.5%; }

.flex-9 > * {
  flex: 0 0 11.11111%;
  max-width: 11.11111%; }

.flex-10 > * {
  flex: 0 0 10%;
  max-width: 10%; }

.flex-11 > * {
  flex: 0 0 9.09091%;
  max-width: 9.09091%; }

.flex-12 > * {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

@media (min-width: 750px) {
  .flex-md-1 > * {
    flex: 0 0 100%;
    max-width: 100%; }
  .flex-md-2 > * {
    flex: 0 0 50%;
    max-width: 50%; }
  .flex-md-3 > * {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .flex-md-4 > * {
    flex: 0 0 25%;
    max-width: 25%; }
  .flex-md-5 > * {
    flex: 0 0 20%;
    max-width: 20%; }
  .flex-md-6 > * {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .flex-md-7 > * {
    flex: 0 0 14.28571%;
    max-width: 14.28571%; }
  .flex-md-8 > * {
    flex: 0 0 12.5%;
    max-width: 12.5%; }
  .flex-md-9 > * {
    flex: 0 0 11.11111%;
    max-width: 11.11111%; }
  .flex-md-10 > * {
    flex: 0 0 10%;
    max-width: 10%; }
  .flex-md-11 > * {
    flex: 0 0 9.09091%;
    max-width: 9.09091%; }
  .flex-md-12 > * {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; } }

@media (min-width: 1000px) {
  .flex-lg-1 > * {
    flex: 0 0 100%;
    max-width: 100%; }
  .flex-lg-2 > * {
    flex: 0 0 50%;
    max-width: 50%; }
  .flex-lg-3 > * {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .flex-lg-4 > * {
    flex: 0 0 25%;
    max-width: 25%; }
  .flex-lg-5 > * {
    flex: 0 0 20%;
    max-width: 20%; }
  .flex-lg-6 > * {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .flex-lg-7 > * {
    flex: 0 0 14.28571%;
    max-width: 14.28571%; }
  .flex-lg-8 > * {
    flex: 0 0 12.5%;
    max-width: 12.5%; }
  .flex-lg-9 > * {
    flex: 0 0 11.11111%;
    max-width: 11.11111%; }
  .flex-lg-10 > * {
    flex: 0 0 10%;
    max-width: 10%; }
  .flex-lg-11 > * {
    flex: 0 0 9.09091%;
    max-width: 9.09091%; }
  .flex-lg-12 > * {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; } }

@media (min-width: 1300px) {
  .flex-xl-1 > * {
    flex: 0 0 100%;
    max-width: 100%; }
  .flex-xl-2 > * {
    flex: 0 0 50%;
    max-width: 50%; }
  .flex-xl-3 > * {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .flex-xl-4 > * {
    flex: 0 0 25%;
    max-width: 25%; }
  .flex-xl-5 > * {
    flex: 0 0 20%;
    max-width: 20%; }
  .flex-xl-6 > * {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .flex-xl-7 > * {
    flex: 0 0 14.28571%;
    max-width: 14.28571%; }
  .flex-xl-8 > * {
    flex: 0 0 12.5%;
    max-width: 12.5%; }
  .flex-xl-9 > * {
    flex: 0 0 11.11111%;
    max-width: 11.11111%; }
  .flex-xl-10 > * {
    flex: 0 0 10%;
    max-width: 10%; }
  .flex-xl-11 > * {
    flex: 0 0 9.09091%;
    max-width: 9.09091%; }
  .flex-xl-12 > * {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; } }

.flex-gap-5 {
  margin: 0 -2.5px; }

.flex-gap-5 > * {
  padding-left: 2.5px;
  padding-right: 2.5px; }

.flex-gap-10 {
  margin: 0 -5px; }

.flex-gap-10 > * {
  padding-left: 5px;
  padding-right: 5px; }

.flex-gap-15 {
  margin: 0 -7.5px; }

.flex-gap-15 > * {
  padding-left: 7.5px;
  padding-right: 7.5px; }

.flex-gap-20 {
  margin: 0 -10px; }

.flex-gap-20 > * {
  padding-left: 10px;
  padding-right: 10px; }

.flex-gap-25 {
  margin: 0 -12.5px; }

.flex-gap-25 > * {
  padding-left: 12.5px;
  padding-right: 12.5px; }

.flex-gap-30 {
  margin: 0 -15px; }

.flex-gap-30 > * {
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 750px) {
  .flex-gap-md-5 {
    margin: 0 -2.5px; }
  .flex-gap-md-5 > * {
    padding-left: 2.5px;
    padding-right: 2.5px; }
  .flex-gap-md-10 {
    margin: 0 -5px; }
  .flex-gap-md-10 > * {
    padding-left: 5px;
    padding-right: 5px; }
  .flex-gap-md-15 {
    margin: 0 -7.5px; }
  .flex-gap-md-15 > * {
    padding-left: 7.5px;
    padding-right: 7.5px; }
  .flex-gap-md-20 {
    margin: 0 -10px; }
  .flex-gap-md-20 > * {
    padding-left: 10px;
    padding-right: 10px; }
  .flex-gap-md-25 {
    margin: 0 -12.5px; }
  .flex-gap-md-25 > * {
    padding-left: 12.5px;
    padding-right: 12.5px; }
  .flex-gap-md-30 {
    margin: 0 -15px; }
  .flex-gap-md-30 > * {
    padding-left: 15px;
    padding-right: 15px; } }

.flex-gap {
  margin: 0 calc(var(--flex-gap)/2*-1); }

.flex-gap > * {
  padding: 0 calc(var(--flex-gap)/2); }

@media (min-width: 750px) {
  .flex-gap-md {
    margin: 0 calc(var(--flex-gap-md)/2*-1); }
  .flex-gap-md > * {
    padding: 0 calc(var(--flex-gap-md)/2); } }

@media (min-width: 1000px) {
  .flex-gap-lg {
    margin: 0 calc(var(--flex-gap-lg)/2*-1); }
  .flex-gap-lg > * {
    padding: 0 calc(var(--flex-gap-lg)/2); } }

@media (min-width: 1300px) {
  .flex-gap-xl {
    margin: 0 calc(var(--flex-gap-xl)/2*-1); }
  .flex-gap-xl > * {
    padding: 0 calc(var(--flex-gap-xl)/2); } }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.1; }

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font); }

b {
  font-weight: 700; }

.h1, h1 {
  font-size: var(--heading-1-fs);
  font-weight: var(--heading-1-fw); }

.h2, h2 {
  font-size: var(--heading-2-fs);
  font-weight: var(--heading-2-fw); }

.h3, h3 {
  font-size: var(--heading-3-fs);
  font-weight: var(--heading-3-fw); }

.h4, h4 {
  font-size: var(--heading-4-fs);
  font-weight: var(--heading-4-fw); }

.h5, h5 {
  font-size: var(--heading-5-fs);
  font-weight: var(--heading-5-fw); }

.h6, h6 {
  font-size: var(--heading-6-fs);
  font-weight: var(--heading-6-fw); }

@media (min-width: 750px) {
  .h1, h1 {
    font-size: var(--heading-1-fs-md); }
  .h2, h2 {
    font-size: var(--heading-2-fs-md); }
  .h3, h3 {
    font-size: var(--heading-3-fs-md); }
  .h4, h4 {
    font-size: var(--heading-4-fs-md); }
  .h5, h5 {
    font-size: var(--heading-5-fs-md); }
  .h6, h6 {
    font-size: var(--heading-6-fs-md); } }

@media (min-width: 1000px) {
  .h1, h1 {
    font-size: var(--heading-1-fs-lg); }
  .h2, h2 {
    font-size: var(--heading-2-fs-lg); }
  .h3, h3 {
    font-size: var(--heading-3-fs-lg); }
  .h4, h4 {
    font-size: var(--heading-4-fs-lg); }
  .h5, h5 {
    font-size: var(--heading-5-fs-lg); }
  .h6, h6 {
    font-size: var(--heading-6-fs-lg); } }

@media (min-width: 1300px) {
  .h1, h1 {
    font-size: var(--heading-1-fs-xl); }
  .h2, h2 {
    font-size: var(--heading-2-fs-xl); }
  .h3, h3 {
    font-size: var(--heading-3-fs-xl); }
  .h4, h4 {
    font-size: var(--heading-4-fs-xl); }
  .h5, h5 {
    font-size: var(--heading-5-fs-xl); }
  .h6, h6 {
    font-size: var(--heading-6-fs-xl); } }
