.blog-page .section-title h1 {
  font-size: 35px;
  font-weight: 500; }

.blog-page .main-section {
  overflow: hidden; }

.blog-page article {
  border-bottom: 1px solid var(--miscellaneous-color);
  margin-top: 50px;
  padding-bottom: 50px; }

.blog-page .article-title a {
  color: var(--text-color);
  font-size: 20px;
  line-height: 1.4em;
  font-weight: 500;
  display: block; }

.blog-page .article-info {
  color: var(--subtext-color);
  font-size: 13px;
  line-height: 1.4em; }
