.cart-summary-section .cart__blocks {
  margin-bottom: 30px; }

.cart-summary-section .cart-summary-title h5 {
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 1.1em;
  font-size: var(--heading-5-fs); }

.cart-summary-section .cart-summary {
  border-radius: var(--border-radius);
  border: 2px solid var(--secondary-color); }

.cart-summary-section .cart-summary p {
  margin: 0; }

.cart-summary-section .cart-subtotal-block > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid var(--miscellaneous-color); }

.cart-summary-section .cart-subtotal-block h6 {
  font-weight: 600;
  font-size: 14px; }

.cart-summary-section .tax-note {
  display: block;
  padding: 15px 20px;
  border-bottom: 1px solid var(--miscellaneous-color);
  font-size: var(--heading-6-fs);
  font-size: 14px; }

.cart-summary-section .cart-total-price {
  font-size: 25px;
  font-weight: 600;
  color: var(--primary-color); }

.cart-summary-section p.cart-subtotal {
  font-size: 15px;
  font-weight: 500; }

.cart-summary-section .cart-checkout {
  padding: 20px; }

.cart-summary-section .cart-checkout .btn {
  width: 100%; }

.cart-summary-section cart-note label {
  margin-bottom: 10px;
  font-size: var(--heading-5-fs);
  font-weight: 500; }

.cart-summary-section cart-note textarea {
  padding: 10px 15px;
  border-radius: var(--border-radius);
  border: 1px solid var(--miscellaneous-color);
  max-width: 100%; }

.cart-summary-section .additional-checkout-buttons {
  padding: 0 20px 20px; }

.cart-summary-section .additional-checkout-buttons .dynamic-checkout__content .shopify-cleanslate ._1M9S34W-UyhhDRRQQiV3RH {
  height: 46px !important;
  min-width: 100px; }

@media (min-width: 750px) {
  .cart-summary-section .section-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px; }
  .cart-summary-section .cart__blocks {
    padding: 0 10px; }
  .cart-summary-section .cart-block-note, .cart-summary-section .cart-block-summary {
    flex: 1;
    min-width: 350px; }
  .cart-summary-section cart-note textarea {
    height: 251px; } }

@media (min-width: 1300px) {
  .cart-summary-section {
    flex: 0 0 400px; }
  .cart-summary-section .cart-block-note, .cart-summary-section .cart-block-summary {
    flex: 0 0 400px;
    max-width: 400px; }
  .cart-summary-section .section-container {
    display: block;
    margin: 0; }
  .cart-summary-section .cart__blocks {
    padding: 0; }
  .cart-summary-section cart-note textarea {
    height: 120px; } }
