.section-contact-form .section-heading {
  line-height: 1.2em; }

.section-contact-form form > .lg-flex {
  display: flex;
  flex-wrap: wrap; }

.section-contact-form .form-field {
  flex: 0 0 100%;
  max-width: 100%;
  margin: 0 0 20px;
  display: flex; }

.section-contact-form .form-field input {
  height: 46px; }

.section-contact-form .form-field input, .section-contact-form .form-field textarea {
  background: var(--miscellaneous-color);
  font-size: 15px;
  border-radius: var(--border-radius);
  padding: 10px 15px; }

.section-contact-form .form-button-group {
  min-width: 200px; }

@media (min-width: 750px) {
  .section-contact-form .section-heading {
    font-size: 30px; }
  .section-contact-form form > .lg-flex .form-field {
    flex: 0 0 33.33%;
    max-width: 33.33%; } }
