.fomo-section .fomo-block {
  max-width: 300px;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); }

.fomo-section .fomo-image {
  flex: unset;
  -webkit-margin-end: 15px;
  margin-inline-end: 15px; }

.fomo-section .fomo-wrapper {
  z-index: 97; }

.fomo-section .fomo-wrapper .fomo-block {
  display: block;
  transition: all .25s ease-in-out;
  pointer-events: none; }

.fomo-section .fomo-content p {
  margin: 5px 0; }

.fomo-section .fomo-random-number {
  font-weight: 600; }

.fomo-section .fomo-bottom-left .fomo-block:not(.active), .fomo-section .fomo-top-left .fomo-block:not(.active) {
  transform: translateX(-100%); }

.fomo-section .fomo-bottom-right .fomo-block:not(.active), .fomo-section .fomo-top-right .fomo-block:not(.active) {
  transform: translateX(100%); }

.fomo-section .fomo-wrapper .fomo-block.active {
  transform: translateX(0);
  pointer-events: auto; }

@media (min-width: 750px) {
  .fomo-section .fomo-block {
    max-width: 350px; } }
