.layout-boxed.section-slideshow img {
  border-radius: 5px; }

.layout-wide.section-slideshow .slide-video iframe {
  width: 100vw;
  height: 56.25vw; }

.section-slideshow .section-content-inner, .section-slideshow .slider-container {
  position: relative; }

.section-slideshow .banner-content p {
  margin: 0 0 15px; }

.section-slideshow .banner-content > div:first-child p {
  font-size: 26px;
  font-weight: 600; }

.section-slideshow .banner-content .block-html {
  margin-bottom: 15px; }

.section-slideshow .banner-content button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 46px;
  margin-bottom: 20px; }

.section-slideshow .banner-content button span {
  display: flex;
  line-height: 1.45em; }

.section-slideshow .banner-content button svg {
  -webkit-margin-end: 13px;
  margin-inline-end: 13px; }

.section-slideshow .banner-content button .icon-loading {
  display: none;
  width: 20px;
  height: 20px; }

.section-slideshow .banner-content button .icon-loading path {
  stroke: none;
  fill: #fff; }

.section-slideshow .banner-content .loading .icon-cart {
  display: none; }

.section-slideshow .banner-content .loading .icon-loading {
  display: block; }

.section-slideshow .product-title {
  line-height: 1.2em; }

.section-slideshow .product-weight {
  margin-bottom: 30px;
  line-height: 1.2em; }

.section-slideshow .product-price {
  font-size: 36px;
  line-height: 1.12em;
  color: inherit;
  margin: 20px 0;
  font-weight: 700; }

.section-slideshow .price-compare {
  color: inherit;
  font-weight: 400; }

.section-slideshow .price {
  color: inherit; }

.section-slideshow .block-svg_content {
  margin-bottom: 20px; }

.section-slideshow .block-svg_content .flex > .inline-flex {
  align-items: center;
  text-align: start; }

.section-slideshow .block-svg_content .flex > .inline-flex:not(:last-child) {
  -webkit-margin-end: 20px;
  margin-inline-end: 20px; }

.section-slideshow .block-svg_content .icon {
  -webkit-padding-end: 10px;
  padding-inline-end: 10px; }

.section-slideshow .block-svg_content .icon svg {
  width: 20px;
  height: 20px; }

.section-slideshow .block-svg_content .text {
  font-size: 13px; }

.section-slideshow .container .slide-video iframe {
  width: var(--container-xl);
  height: calc(var(--container-xl)/1.77778); }

.section-slideshow .tns-nav {
  bottom: 15px; }

.section-slideshow .tns-nav button {
  background: var(--background-color);
  opacity: .67; }

.section-slideshow .tns-nav .tns-nav-active, .section-slideshow .tns-nav button:hover {
  opacity: 1; }

@media (min-width: 1000px) {
  .section-slideshow .slider-controls .slider-prev-button {
    left: 20px; }
  .section-slideshow .slider-controls .slider-next-button {
    right: 20px; } }
